<a href="https://colab.research.google.com/github/NimishK26/Data-Management-WBS/blob/main/Insights_DM_WBS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Database

**STEP 1: CREATE the SQLite database:**

In [ ]:
import sqlite3

# Establish a connection to the database file (or create it if it doesn't exist)
conn = sqlite3.connect('Cartify.db')
cursor = conn.cursor()

# Customer Table
cursor.execute('''
CREATE TABLE customer_table (
    customer_id TEXT PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    gender TEXT NOT NULL,
    date_of_birth DATE NOT NULL,
    email TEXT UNIQUE NOT NULL,
    phone_number INTEGER UNIQUE NOT NULL,
    address TEXT NOT NULL,
    city_id TEXT NOT NULL,
    postcode TEXT NOT NULL,
    country_id TEXT NOT NULL,
    FOREIGN KEY (city_id) REFERENCES city_table(city_id) ON DELETE CASCADE
    FOREIGN KEY (country_id) REFERENCES country_table(country_id) ON DELETE CASCADE
);
''')

# Orders Table
cursor.execute('''
CREATE TABLE orders_table (
    order_id TEXT PRIMARY KEY,
    customer_id TEXT NOT NULL,
    order_date DATE NOT NULL,
    discount_id INTEGER,
    amount REAL NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customer_table(customer_id) ON DELETE CASCADE,
    FOREIGN KEY (discount_id) REFERENCES discount_table(discount_id) ON DELETE CASCADE
);
''')

# Order Details Table
cursor.execute('''
CREATE TABLE order_details_table (
    order_id TEXT,
    product_id TEXT,
    quantity INTEGER NOT NULL,
    PRIMARY KEY (order_id, product_id),
    FOREIGN KEY (order_id) REFERENCES orders_table(order_id) ON DELETE CASCADE,
    FOREIGN KEY (product_id) REFERENCES products_table(product_id) ON DELETE CASCADE
);
''')

# Products Table
cursor.execute('''
CREATE TABLE products_table (
    product_id TEXT PRIMARY KEY,
    product_name TEXT NOT NULL,
    selling_price REAL NOT NULL,
    category_id TEXT NOT NULL,
    cost_price REAL NOT NULL,
    stock INTEGER NOT NULL,
    FOREIGN KEY (category_id) REFERENCES category_table(category_id) ON DELETE CASCADE
);
''')

# Product Review Table
cursor.execute('''
CREATE TABLE product_review_table (
    review_id INTEGER PRIMARY KEY AUTOINCREMENT,
    customer_id TEXT NOT NULL,
    product_id TEXT NOT NULL,
    rating INTEGER CHECK (rating BETWEEN 1 AND 5) NOT NULL,
    date DATE NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customer_table(customer_id) ON DELETE CASCADE,
    FOREIGN KEY (product_id) REFERENCES products_table(product_id) ON DELETE CASCADE
);
''')

# Category Table
cursor.execute('''
CREATE TABLE category_table (
    category_id TEXT PRIMARY KEY,
    category_name TEXT UNIQUE NOT NULL
);
''')

# Website Activity Table
cursor.execute('''
CREATE TABLE website_activity_table (
    activity_id TEXT PRIMARY KEY,
    category_id TEXT NOT NULL,
    date DATE NOT NULL,
    time TIME NOT NULL,
    customer_id TEXT NOT NULL,
    time_spent REAL NOT NULL,
    order_placed TEXT CHECK (order_placed IN ('Y', 'N')) NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customer_table(customer_id) ON DELETE CASCADE,
    FOREIGN KEY (category_id) REFERENCES category_table(category_id) ON DELETE CASCADE
);
''')

# Discount Table
cursor.execute('''
CREATE TABLE discount_table (
    discount_id INTEGER PRIMARY KEY AUTOINCREMENT,
    campaign_id INTEGER NOT NULL,
    discount_type_id TEXT NOT NULL,
    coupon_code TEXT UNIQUE NOT NULL,
    FOREIGN KEY (discount_type_id) REFERENCES discount_type_table(discount_type_id) ON DELETE CASCADE,
    FOREIGN KEY (campaign_id) REFERENCES campaign_engagement_table(campaign_id) ON DELETE CASCADE
);
''')

# Discount Type Table
cursor.execute('''
CREATE TABLE discount_type_table (
    discount_type_id TEXT PRIMARY KEY,
    type_of_discount TEXT UNIQUE NOT NULL

);
''')

# Campaign Type Table
cursor.execute('''
CREATE TABLE campaign_type_table (
    campaign_type_id INTEGER PRIMARY KEY AUTOINCREMENT,
    platform TEXT UNIQUE NOT NULL
);
''')

# Marketing Campaigns Table
cursor.execute('''
CREATE TABLE marketing_campaigns_table (
    campaign_id INTEGER NOT NULL,
    city_id TEXT NOT NULL,
    campaign_type_id INTEGER NOT NULL,
    start_date DATE NOT NULL,
    end_date DATE NOT NULL,
    cost REAL NOT NULL,
    PRIMARY KEY (campaign_id, city_id),
    FOREIGN KEY (campaign_type_id) REFERENCES campaign_type_table(campaign_type_id) ON DELETE CASCADE,
    FOREIGN KEY (city_id) REFERENCES city_table(city_id) ON DELETE CASCADE
);
''')

# Campaign Engagement Table
cursor.execute('''
CREATE TABLE campaign_engagement_table (
    campaign_id INTEGER PRIMARY KEY AUTOINCREMENT,
    click_rate REAL NOT NULL,
    reach INTEGER NOT NULL,
    FOREIGN KEY (campaign_id) REFERENCES marketing_campaigns_table(campaign_id) ON DELETE CASCADE
);
''')

# City Table
cursor.execute('''
CREATE TABLE city_table (
    city_id TEXT PRIMARY KEY,
    city TEXT UNIQUE NOT NULL,
    region_id TEXT NOT NULL,
    FOREIGN KEY (region_id) REFERENCES region_table(region_id) ON DELETE CASCADE
);
''')

# Region Table
cursor.execute('''
CREATE TABLE region_table (
    region_id TEXT PRIMARY KEY,
    region TEXT UNIQUE NOT NULL
);
''')

# Country Table
cursor.execute('''
CREATE TABLE country_table (
    country_id TEXT PRIMARY KEY,
    country TEXT UNIQUE NOT NULL
);
''')

# Save the changes to the database
conn.commit()

print("Database and tables created successfully!")

Database and tables created successfully!

**STEP 2: Check Tables Created:**

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

for table_name in tables:
    print(f"Table: {table_name[0]}")
    cursor.execute(f"PRAGMA table_info({table_name[0]});")
    columns = cursor.fetchall()
    for col in columns:
        print(f"  Column: {col[1]}, Type: {col[2]}, NotNull: {col[3]}, DefaultVal: {col[4]}, PrimaryKey: {col[5]}")
    print("-" * 20)

Table: customer_table
  Column: customer_id, Type: TEXT, NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: first_name, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: last_name, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: gender, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: date_of_birth, Type: DATE, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: email, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: phone_number, Type: INTEGER, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: address, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: city_id, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: postcode, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: country_id, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
--------------------
Table: orders_table
  Column: order_id, Type: TEXT, NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: customer_id, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: order_date, Type: DATE, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: discount_id, Type: INTEGER, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: amount, Type: REAL, NotNull: 1, DefaultVal: None, PrimaryKey: 0
--------------------
Table: order_details_table
  Column: order_id, Type: TEXT, NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: product_id, Type: TEXT, NotNull: 0, DefaultVal: None, PrimaryKey: 2
  Column: quantity, Type: INTEGER, NotNull: 1, DefaultVal: None, PrimaryKey: 0
--------------------
Table: products_table
  Column: product_id, Type: TEXT, NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: product_name, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: selling_price, Type: REAL, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: category_id, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: cost_price, Type: REAL, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: stock, Type: INTEGER, NotNull: 1, DefaultVal: None, PrimaryKey: 0
--------------------
Table: product_review_table
  Column: review_id, Type: INTEGER, NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: customer_id, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: product_id, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: rating, Type: INTEGER, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: date, Type: DATE, NotNull: 1, DefaultVal: None, PrimaryKey: 0
--------------------
Table: sqlite_sequence
  Column: name, Type: , NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: seq, Type: , NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: category_table
  Column: category_id, Type: TEXT, NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: category_name, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
--------------------
Table: website_activity_table
  Column: activity_id, Type: TEXT, NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: category_id, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: date, Type: DATE, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: time, Type: TIME, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: customer_id, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: time_spent, Type: REAL, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: order_placed, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
--------------------
Table: discount_table
  Column: discount_id, Type: INTEGER, NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: campaign_id, Type: INTEGER, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: discount_type_id, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: coupon_code, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
--------------------
Table: discount_type_table
  Column: discount_type_id, Type: TEXT, NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: type_of_discount, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
--------------------
Table: campaign_type_table
  Column: campaign_type_id, Type: INTEGER, NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: platform, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
--------------------
Table: marketing_campaigns_table
  Column: campaign_id, Type: INTEGER, NotNull: 1, DefaultVal: None, PrimaryKey: 1
  Column: city_id, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 2
  Column: campaign_type_id, Type: INTEGER, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: start_date, Type: DATE, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: end_date, Type: DATE, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: cost, Type: REAL, NotNull: 1, DefaultVal: None, PrimaryKey: 0
--------------------
Table: campaign_engagement_table
  Column: campaign_id, Type: INTEGER, NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: click_rate, Type: REAL, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: reach, Type: INTEGER, NotNull: 1, DefaultVal: None, PrimaryKey: 0
--------------------
Table: city_table
  Column: city_id, Type: TEXT, NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: city, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
  Column: region_id, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
--------------------
Table: region_table
  Column: region_id, Type: TEXT, NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: region, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
--------------------
Table: country_table
  Column: country_id, Type: TEXT, NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: country, Type: TEXT, NotNull: 1, DefaultVal: None, PrimaryKey: 0
--------------------

**STEP 3: Load CSV files into the database tables:**

In [ ]:
import csv

def import_csv_to_table(csv_file, table_name):
    #opens the file aas read only 'r', doesn't allow the origianl csv to be changed.
    with open(csv_file, 'r', encoding='utf-8') as file:
        csv_reader = csv.reader(file, delimiter=';')
        next(csv_reader)  # Skip header row if present
        for row in csv_reader:
            #? creates a placeholder for each column in the CSV file. ['?','?','?'] - Join makes it a string so it can then be inserted.
            # use of the '?' reduce risk of SQL injection
            placeholders = ', '.join(['?' for _ in row])
            #Assumes that the CSV and table have the same structure (this could be an issue) Would have to specify column names if different.
            sql = f"INSERT INTO {table_name} VALUES ({placeholders})"
            cursor.execute(sql, row)

# Import data from CSV files into the relevant table - Student_Table goes into student table.  teh import_csv_to_table is the function, passing the two values across.
try:
    import_csv_to_table('customers.csv', 'customer_table')
    import_csv_to_table('orders.csv', 'orders_table')
    import_csv_to_table('orders_details.csv', 'order_details_table')
    import_csv_to_table('product_data.csv', 'products_table')
    import_csv_to_table('products_review.csv', 'product_review_table')
    import_csv_to_table('marketing_campaigns.csv', 'marketing_campaigns_table')
    import_csv_to_table('campaign_type.csv', 'campaign_type_table')
    import_csv_to_table('discount.csv', 'discount_table')
    import_csv_to_table('discount_types.csv', 'discount_type_table')
    import_csv_to_table('campaign_engagement.csv', 'campaign_engagement_table')
    import_csv_to_table('website_activity.csv', 'website_activity_table')
    import_csv_to_table('category_data.csv', 'category_table')
    import_csv_to_table('cities.csv', 'city_table')
    import_csv_to_table('region.csv', 'region_table')
    import_csv_to_table('country.csv', 'country_table')
    conn.commit()
    print("Data imported successfully!")
except Exception as e:
    print(f"An error occurred: {e}")
    conn.rollback()  # Rollback changes if an error occurred

Data imported successfully!

**STEP 4: Check Data has loaded:**

In [ ]:
import pandas as pd
# Query each table and load into pandas DataFrames
customer_df = pd.read_sql_query("SELECT * FROM customer_table", conn)
orders_df = pd.read_sql_query("SELECT * FROM orders_table", conn)
order_details_df = pd.read_sql_query("SELECT * FROM order_details_table", conn)
products_df = pd.read_sql_query("SELECT * FROM products_table", conn)
product_review_df = pd.read_sql_query("SELECT * FROM product_review_table", conn)
marketing_campaigns_df = pd.read_sql_query("SELECT * FROM marketing_campaigns_table", conn)
campaign_type_df = pd.read_sql_query("SELECT * FROM campaign_type_table", conn)
discount_df = pd.read_sql_query("SELECT * FROM discount_table", conn)
discount_types_df = pd.read_sql_query("SELECT * FROM discount_type_table", conn)
campaign_engagement_df = pd.read_sql_query("SELECT * FROM campaign_engagement_table", conn)
website_activity_df = pd.read_sql_query("SELECT * FROM website_activity_table", conn)
category_df = pd.read_sql_query("SELECT * FROM category_table", conn)
city_df = pd.read_sql_query("SELECT * FROM city_table", conn)
region_df = pd.read_sql_query("SELECT * FROM region_table", conn)
country_df = pd.read_sql_query("SELECT * FROM country_table", conn)

# Show the first 5 lines of each DataFrame
print("Customer Table:")
print(customer_df.head(5))
print("\nOrders Table:")
print(orders_df.head(5))
print("\nOrder Details Table:")
print(order_details_df.head(5))
print("\nProducts Table:")
print(products_df.head(5))
print("\nProduct Review Table:")
print(product_review_df.head(5))
print("\nMarketing Campaigns Table:")
print(marketing_campaigns_df.head(5))
print("\nCampaign Type Table:")
print(campaign_type_df.head(5))
print("\nDiscount Table:")
print(discount_df.head(5))
print("\nDiscount Types Table:")
print(discount_types_df.head(5))
print("\nCampaign Engagement Table:")
print(campaign_engagement_df.head(5))
print("\nWebsite Activity Table:")
print(website_activity_df.head(5))
print("\nCategory Table:")
print(category_df.head(5))
print("\nCity Table:")
print(city_df.head(5))
print("\nRegion Table:")
print(region_df.head(5))
print("\nCountry Table:")
print(country_df.head(5))

Customer Table:
  customer_id first_name last_name  gender date_of_birth  \
0   CUST97034   Victoria      Hill  Female    1994-06-09
1   CUST78652      Ethan     Sharp    Male    2000-06-14
2   CUST62025  Charlotte    Browne  Female    1982-10-15
3   CUST38259     Connor     Smith    Male    1986-08-11
4   CUST53488      Holly     Evans  Female    1997-12-07

                          email  phone_number              address city_id  \
0       victoria.hill@yahoo.com    7957263192  944 Williams circle    Y2VK
1       ethan.sharp@outlook.com    7808474504        59 Clive lock    B5VW
2  charlotte.browne@hotmail.com    7972272513        15 Derek land    XU5I
3        connor.smith@gmail.com    7881519870     327 Butler parks    30AN
4       holly.evans@hotmail.com    7658408505     390 Lynda bypass    KJRQ

  postcode country_id
0   E1 0AB       C001
1   M2 1BC       C001
2   B3 2CD       C001
3   G4 3DE       C001
4   L5 4EF       C001

Orders Table:
  order_id customer_id  order_date discount_id    amount
0    ZYY98   CUST51271  2024-12-13         670    163.17
1    ZYGRH   CUST73447  2024-09-09         698   9643.52
2    ZXYG6   CUST72546  2024-07-22              20870.11
3    ZXXOY   CUST47951  2024-04-25                637.78
4    ZXWHD   CUST92125  2024-02-05               1016.39

Order Details Table:
  order_id  product_id  quantity
0    80GPC  B0C5LTPT2Q         8
1    80GPC  B0CKLKWV6T         8
2    80GPC  B09WMN46JS         5
3    YSC9L  B0992XK6M8         9
4    YSC9L  B09QMN67V2         2

Products Table:
   product_id                                       product_name  \
0  B00XLHSZ74  AQUALONA√Ç¬Æ Premium Thermoplastic Toilet Seat...
1  B07Z1YTD9R                      LEONE LEGGINS DONNA EXTREMA 3
2  B0BHJ1MNY4  Skang Gilet for Women UK Longline Quilted Plai...
3  B0C4LBK1T7  DIYIOUZHOU Ladies Tops And Blouses Shorts Slee...
4  B0CGX6XR41  Vogrtcc Women's Loose Sweaters O-Neck Tops Lon...

   selling_price category_id  cost_price  stock
0          26.99        E387       12.28     46
1          25.49        E387       11.41     28
2          37.59        E387       17.53     65
3           7.49        E387        3.12     45
4          49.43        E387       23.30     89

Product Review Table:
   review_id customer_id  product_id  rating        date
0     100525   CUST14214  B00HFOVTOK       4  2024-10-02
1     100557   CUST35569  B0773NKVWZ       5  2024-02-16
2     103284   CUST38773  B07QGQLPWG       2  2024-05-12
3     103572   CUST27894  B0CHBMQBPV       5  2024-04-28
4     104166   CUST74610  B09J6GB4VB       4  2024-01-01

Marketing Campaigns Table:
   campaign_id city_id  campaign_type_id  start_date    end_date    cost
0         1001    Y2VK                 5  2024-08-01  2024-08-15  6000.0
1         1002    B5VW                 3  2024-08-11  2024-08-25  7500.0
2         1003    XU5I                 7  2024-08-21  2024-09-04  4500.0
3         1004    30AN                 2  2024-09-02  2024-09-16  9000.0
4         1005    KJRQ                 6  2024-09-12  2024-09-26  3500.0

Campaign Type Table:
   campaign_type_id    platform
0                 1   Instagram
1                 2    Facebook
2                 3      TikTok
3                 4       Email
4                 5  Google Ads

Discount Table:
   discount_id  campaign_id discount_type_id coupon_code
0          103         1014             D009       625UB
1          110         1011             D006       RZV43
2          115         1005             D014       WBCFR
3          133         1008             D020       YTRPX
4          140         1013             D020       IDK0J

Discount Types Table:
  discount_type_id             type_of_discount
0             D001  Exclusive App-Only Discount
1             D002         Buy One Get One Free
2             D003                 Holiday Sale
3             D004                   Flash Sale
4             D005            Seasonal Discount

Campaign Engagement Table:
   campaign_id  click_rate   reach
0         1001         2.5  200000
1         1002         3.4  350000
2         1003         4.7  480000
3         1004         5.2  600000
4         1005         6.3  720000

Website Activity Table:
  activity_id category_id        date       time customer_id  time_spent  \
0       X7KIY        E387  2024-07-30   14:19:45   CUST84253         6.8
1       XFLYV        TG47  2024-06-22   12:28:55   CUST82606         9.0
2       9F4D8        A2CA  2024-05-01   21:37:43   CUST72915         7.7
3       MZ1X3        7FE3  2024-03-23   08:44:36   CUST62592         6.1
4       FWXLE        A2CA  2024-04-03   13:55:59   CUST71535         8.8

  order_placed
0            N
1            N
2            Y
3            N
4            N

Category Table:
  category_id     category_name
0        E387     Miscellaneous
1        TG47   Health & Beauty
2        ZP25  Food & Beverages
3        O4BF      Home & Decor
4        7EE3       Electronics

City Table:
  city_id                city region_id
0    18KT  North warwickshire     Q5B1W
1    285N         North devon     W4K2T
2    30AN             Glasgow     NIZUV
3    33ZJ       Aberdeen city     18Y3Q
4    3H9C                Wyre     L3D2X

Region Table:
  region_id                    region
0     G7B9Q            Greater London
1     L3D2X        North West England
2     Q5B1W             West Midlands
3     NIZUV          Glasgow & Argyll
4     R6Q5Y  Yorkshire and the Humber

Country Table:
  country_id         country
0       C001  United Kingdom

# Insights

**Campaign ROI**

In [ ]:
import pandas as pd

# 1. Product Profit DataFrame: Calculate profit per product
Product_Profit_df = pd.read_sql_query("""
SELECT
    product_id,
    product_name,
    selling_price,
    cost_price,
    (selling_price - cost_price) AS profit
FROM products_table;
""", conn)


# 2. Total Profit DataFrame: Calculate profit per order detail record
Total_Profit_df = pd.read_sql_query("""
SELECT
    od.product_id,
    od.quantity,
    p.product_name,
    p.selling_price,
    p.cost_price,
    ((p.selling_price - p.cost_price) * od.quantity) AS total_profit
FROM order_details_table AS od
JOIN products_table AS p
  ON od.product_id = p.product_id;
""", conn)


# 3. Order Total Profit DataFrame: Aggregate total profit per order
Order_Total_Profit_df = pd.read_sql_query("""
SELECT
    o.order_id,
    SUM((p.selling_price - p.cost_price) * od.quantity) AS total_profit
FROM orders_table AS o
JOIN order_details_table AS od
  ON o.order_id = od.order_id
JOIN products_table AS p
  ON od.product_id = p.product_id
GROUP BY o.order_id;
""", conn)

# 4. Campaign ROI DataFrame:
#    For orders on or after 2024-08-01, compute per campaign:
#    - Sum total_profit (aggregated via discount_table)
#    - Sum marketing_cost from marketing_campaigns_table
#    - Compute Campaign_ROI_percentage as a percentage value rounded to 2 decimals with a "%" sign.
Campaign_ROI_df = pd.read_sql_query("""
WITH order_profit AS (
    SELECT
         o.order_id,
         o.discount_id,
         SUM((p.selling_price - p.cost_price) * od.quantity) AS total_profit
    FROM orders_table o
    JOIN order_details_table od
      ON o.order_id = od.order_id
    JOIN products_table p
      ON od.product_id = p.product_id
    WHERE o.order_date >= '2024-08-01'
    GROUP BY o.order_id, o.discount_id
),
profit_per_campaign AS (
    SELECT
         d.campaign_id,
         SUM(op.total_profit) AS total_profit
    FROM order_profit op
    JOIN discount_table d
      ON op.discount_id = d.discount_id
    GROUP BY d.campaign_id
),
cost_per_campaign AS (
    SELECT
         campaign_id,
         SUM(cost) AS total_marketing_cost
    FROM marketing_campaigns_table
    GROUP BY campaign_id
)
SELECT
    p.campaign_id,
    c.total_marketing_cost,
    p.total_profit,
    ROUND(((p.total_profit - c.total_marketing_cost) / c.total_marketing_cost) * 100, 2) || '%' AS Campaign_ROI
FROM profit_per_campaign p
JOIN cost_per_campaign c
  ON p.campaign_id = c.campaign_id;
""", conn)

print(Campaign_ROI_df)

    campaign_id  total_marketing_cost  total_profit Campaign_ROI
0          1001               48000.0      38409.37      -19.98%
1          1002               60000.0      39738.76      -33.77%
2          1003               36000.0      64804.27       80.01%
3          1004               72000.0      47690.27      -33.76%
4          1005               28000.0      44375.74       58.48%
5          1006               52000.0      67894.98       30.57%
6          1007               56000.0      38560.37      -31.14%
7          1008               38500.0      52360.71        36.0%
8          1009               49000.0      28978.09      -40.86%
9          1010               28000.0      48504.50       73.23%
10         1011               59500.0      48581.41      -18.35%
11         1012               21000.0      48047.82       128.8%
12         1013               66500.0      39222.97      -41.02%
13         1014               35000.0      43510.32       24.32%
14         1015               70000.0      48508.20       -30.7%

# **Customer Retention**

In [ ]:
Customer_Retention_df = pd.read_sql_query("""
WITH OrderCounts AS (
    SELECT customer_id, COUNT(*) AS OrderCount
    FROM orders_table
    GROUP BY customer_id
)
SELECT
    COUNT(DISTINCT c.customer_id) AS total_customers,
    COUNT(DISTINCT CASE WHEN oc.OrderCount >= 2 THEN c.customer_id END)  AS repeating_customers,
    ROUND(
        CASE
            WHEN COUNT(DISTINCT c.customer_id) = 0 THEN 0
            ELSE (COUNT(DISTINCT CASE WHEN oc.OrderCount >= 2 THEN c.customer_id END) * 100.0) / COUNT(DISTINCT c.customer_id)
        END, 0
    ) || '%' AS RepeatCustomersPercentage
FROM customer_table c
LEFT JOIN OrderCounts oc
  ON c.customer_id = oc.customer_id;

""", conn)

print(Customer_Retention_df)

   total_customers  repeating_customers RepeatCustomersPercentage
0              698                  544                     78.0%

# **Order Abandonment Rate**

In [ ]:
Order_Abandonment_Rate_df = pd.read_sql_query("""
SELECT
    t.total_customers,
    n.notbuying_customers,
    ROUND(
      CASE
        WHEN t.total_customers = 0 THEN 0
        ELSE (n.notbuying_customers * 100.0) / t.total_customers
      END, 0
    ) || '%' AS order_abandonment_rate
FROM
    (SELECT COUNT(order_placed) AS total_customers FROM website_activity_table) AS t
JOIN
    (SELECT COUNT(order_placed) AS notbuying_customers
     FROM website_activity_table
     WHERE order_placed = 'N') AS n;
""", conn)

print(Order_Abandonment_Rate_df)

   total_customers  notbuying_customers order_abandonment_rate
0              700                  318                  45.0%

# **Average Order Count**

In [ ]:
Avg_Order_Count_df = pd.read_sql_query("""
SELECT
    ROUND(AVG(order_count), 2) AS avg_order_count
FROM (
    SELECT
        customer_id,
        COUNT(DISTINCT order_id) AS order_count
    FROM orders_table
    GROUP BY customer_id
) AS OrderCounts;
""", conn)

print(Avg_Order_Count_df)

   avg_order_count
0             3.07

# **Average of Campaign ROI**

In [ ]:
Company_ROI_df = pd.read_sql_query("""
SELECT
    ROUND(
        CASE
            WHEN cc.total_marketing_cost = 0 THEN 0
            ELSE ((cp.total_profit - cc.total_marketing_cost) / NULLIF(cc.total_marketing_cost, 0)) * 100
        END, 2
    ) || '%' AS Company_ROI
FROM
    (SELECT SUM((p.selling_price - p.cost_price) * od.quantity) AS total_profit
     FROM orders_table o
     JOIN order_details_table od
       ON o.order_id = od.order_id
     JOIN products_table p
       ON od.product_id = p.product_id
     WHERE o.order_date >= '2024-08-01'
    ) AS cp
JOIN
    (SELECT SUM(cost) AS total_marketing_cost FROM marketing_campaigns_table) AS cc;
""", conn)

print(Company_ROI_df)

  Company_ROI
0       6.83%

**Cost per Click**

In [ ]:
Cost_Per_Click_df = pd.read_sql_query("""
SELECT
    ROUND(AVG(cost_per_campaign.cost_per_click), 2) AS cost_per_click
FROM (
    SELECT
        cc.campaign_id,
        cc.total_cost,
        COALESCE(c.total_clicks, 0) AS total_clicks,
        CASE
            WHEN COALESCE(c.total_clicks, 0) = 0 THEN 0
            ELSE ROUND(cc.total_cost / NULLIF(c.total_clicks, 0), 2)
        END AS cost_per_click
    FROM (
        SELECT campaign_id, SUM(cost) AS total_cost
        FROM marketing_campaigns_table
        GROUP BY campaign_id
    ) AS cc
    LEFT JOIN (
        SELECT campaign_id, SUM(click_rate * reach / 100.0) AS total_clicks
        FROM campaign_engagement_table
        GROUP BY campaign_id
    ) AS c
    ON cc.campaign_id = c.campaign_id
) AS cost_per_campaign;

""", conn)

print(Cost_Per_Click_df)

   cost_per_click
0             3.6

# **Average Revenue Generated per Campaign**

In [ ]:
Avg_Revenue_Per_Campaign_df = pd.read_sql_query("""
SELECT
    CASE
        WHEN tc.total_campaign = 0 THEN 0
        ELSE ROUND(tr.total_revenue / NULLIF(tc.total_campaign, 0), 2)
    END AS Avg_Revenue_Per_Campaign
FROM
    (SELECT SUM(amount) AS total_revenue
     FROM orders_table
     WHERE order_date >= '2024-08-01'
    ) AS tr
JOIN
    (SELECT COUNT(campaign_id) AS total_campaign
     FROM campaign_engagement_table
    ) AS tc;
""", conn)

print(Avg_Revenue_Per_Campaign_df)

   Avg_Revenue_Per_Campaign
0                  83724.95

**Sales across Month**

In [ ]:
import pandas as pd

# 1. Orders Discount Used DataFrame:
Orders_Discount_Used_df = pd.read_sql_query("""
SELECT
    order_id,
    order_date,
    amount,
    CASE
        WHEN discount_id IS NULL OR discount_id = '' THEN 'N'
        ELSE 'Y'
    END AS discount_used
FROM orders_table;
""", conn)

# 2. Monthly Amount by Discount Usage DataFrame:
Monthly_Amount_by_Discount_df = pd.read_sql_query("""
SELECT
    strftime('%Y-%m', order_date) AS Month,
    SUM(CASE WHEN discount_id IS NOT NULL AND discount_id <> '' THEN amount ELSE 0 END) AS Discount_Used_Amount,
    SUM(CASE WHEN discount_id IS NULL OR discount_id = '' THEN amount ELSE 0 END) AS Discount_Not_Used_Amount
FROM orders_table
GROUP BY strftime('%Y-%m', order_date)
ORDER BY Month;
""", conn)

print(Monthly_Amount_by_Discount_df)

      Month  Discount_Used_Amount  Discount_Not_Used_Amount
0   2024-01              59716.43                 299454.90
1   2024-02              29068.93                 267936.70
2   2024-03              52840.41                 341915.81
3   2024-04              10775.14                 136278.47
4   2024-05              14982.25                 142987.12
5   2024-06              21853.94                 119786.77
6   2024-07              11499.10                 131311.12
7   2024-08             169919.87                  10071.71
8   2024-09             216252.57                  41918.94
9   2024-10             252066.14                  32479.67
10  2024-11             311935.88                  12200.12
11  2024-12             195560.13                  13469.22

# **Marketing Reach vs Cost for Different Campaign**

In [ ]:
Campaign_Cost_Reach_df = pd.read_sql_query("""
SELECT
    c.campaign_id,
    c.total_cost,
    COALESCE(r.total_reach, 0) AS total_reach
FROM
    (SELECT campaign_id, SUM(cost) AS total_cost
     FROM marketing_campaigns_table
     GROUP BY campaign_id
    ) AS c
LEFT JOIN
    (SELECT campaign_id, SUM(reach) AS total_reach
     FROM campaign_engagement_table
     GROUP BY campaign_id
    ) AS r
ON c.campaign_id = r.campaign_id;
""", conn)

print(Campaign_Cost_Reach_df)

    campaign_id  total_cost  total_reach
0          1001     48000.0       200000
1          1002     60000.0       350000
2          1003     36000.0       480000
3          1004     72000.0       600000
4          1005     28000.0       720000
5          1006     52000.0       250000
6          1007     56000.0       400000
7          1008     38500.0       520000
8          1009     49000.0       650000
9          1010     28000.0       300000
10         1011     59500.0       420000
11         1012     21000.0       550000
12         1013     66500.0       700000
13         1014     35000.0       270000
14         1015     70000.0       380000

**Revenue per City**

In [ ]:
Revenue_Per_City_df = pd.read_sql_query("""
SELECT
    c.city_id,
    ct.city,
    ROUND(SUM(o.amount), 2) AS total_revenue
FROM orders_table o
JOIN customer_table c
    ON o.customer_id = c.customer_id
JOIN city_table ct
    ON c.city_id = ct.city_id
GROUP BY c.city_id, ct.city
ORDER BY total_revenue DESC;
""", conn)

print(Revenue_Per_City_df.head(10))

  city_id        city  total_revenue
0    Y2VK      London      309123.15
1    C6WB   Sheffield      276798.42
2    KJRQ   Liverpool      272225.13
3    7W41     Bristol      241757.51
4    92R4       Leeds      241377.13
5    XBR7  Nottingham      238636.38
6    B5VW  Manchester      236244.81
7    PYH6   Edinburgh      216451.61
8    30AN     Glasgow      198162.62
9    XU5I  Birmingham      183467.61

**Profit per Category**

In [ ]:
Profit_per_Category_df = pd.read_sql_query("""
SELECT
    c.category_id,
    c.category_name,
    ROUND(SUM((p.selling_price - p.cost_price) * od.quantity), 2) AS total_profit
FROM orders_table o
JOIN order_details_table od
    ON o.order_id = od.order_id
JOIN products_table p
    ON od.product_id = p.product_id
JOIN category_table c
    ON p.category_id = c.category_id
GROUP BY c.category_id, c.category_name
ORDER BY total_profit DESC;
""", conn)

print(Profit_per_Category_df)

   category_id          category_name  total_profit
0         E387          Miscellaneous    1419009.24
1         7EE3            Electronics     199748.35
2         O4BF           Home & Decor     105313.94
3         0DCP               Footwear      24019.29
4         C3E5            Toys & Gift      18966.68
5         7FE3  Clothes & Accessories      18719.43
6         715T         Home & Kitchen       5571.10
7         ZP25       Food & Beverages       2486.97
8         TG47        Health & Beauty       2208.35
9         A2CA            Art & Craft        380.75
10        2D5Y        Music Equipment          8.85

**Discount Effectiveness**

In [ ]:
Discount_effective_df = pd.read_sql_query("""
SELECT
    dtt.type_of_discount,  -- Select type_of_discount from discount_type_table
    COUNT(ot.order_id) AS total_orders,
    SUM(ot.amount) AS total_revenue -- Assuming 'amount' column in orders_table represents total amount
FROM orders_table ot  -- Alias orders_table as ot
JOIN discount_table dt ON ot.discount_id = dt.discount_id  -- Join with discount_table using discount_id
JOIN discount_type_table dtt ON dt.discount_type_id = dtt.discount_type_id --Join with discount type table
WHERE ot.order_date >= '1/08/24'
GROUP BY dtt.type_of_discount  -- Group by type_of_discount
ORDER BY total_revenue DESC;
""", conn)

print(Discount_effective_df)

               type_of_discount  total_orders  total_revenue
0           Early Bird Discount            51      134919.92
1                  Holiday Sale            87      117338.09
2      Loyalty Program Discount            81      107164.02
3             Referral Discount            52      100844.58
4      Weekend Special Discount            80       89772.44
5       First Purchase Discount            55       86777.79
6        Bulk Purchase Discount            55       66719.69
7   Friends and Family Discount            31       64369.69
8   Exclusive App-Only Discount            43       62513.03
9             Seasonal Discount            38       61144.24
10         Buy One Get One Free            31       58218.25
11                   Flash Sale            28       57670.55
12               Clearance Sale            44       57157.95
13             Student Discount            46       56403.49
14      Senior Citizen Discount            60       55482.94
15           Limited-Time Offer            36       51292.66
16               Cashback Offer            27       49371.78
17          VIP Member Discount            27       39883.19
18             Anniversary Sale            28       17280.22
19             Mystery Discount             4       12146.27

**Revenue Per Campaign**

In [ ]:
Revenue_per_Campaign_df = pd.read_sql_query("""
SELECT
    c.campaign_id,
    ROUND(SUM(o.amount), 2) AS total_revenue
FROM orders_table o
JOIN discount_table d
    ON o.discount_id = d.discount_id
JOIN campaign_engagement_table c
    ON d.campaign_id = c.campaign_id
GROUP BY c.campaign_id
ORDER BY total_revenue DESC;
""", conn)


print(Revenue_per_Campaign_df)

    campaign_id  total_revenue
0          1011      126093.47
1          1003      115728.65
2          1006      115119.90
3          1008      101762.79
4          1014       94555.57
5          1015       91661.59
6          1010       89056.20
7          1005       85449.24
8          1004       84585.46
9          1012       82976.96
10         1001       82190.65
11         1013       77002.20
12         1002       71480.62
13         1007       67255.37
14         1009       61552.12