<a href="https://colab.research.google.com/github/NimishK26/Data-Management-WBS/blob/main/SQL_Database_WBS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

In [6]:
# Establish a connection to the database file (or create it if it doesn't exist)
conn = sqlite3.connect('Cartify.db')
cursor = conn.cursor()
# Customer Table
cursor.execute('''
CREATE TABLE customer_table (
customer_id TEXT PRIMARY KEY,
first_name TEXT NOT NULL,
last_name TEXT NOT NULL,
gender TEXT NOT NULL,
date_of_birth DATE NOT NULL,
email TEXT UNIQUE NOT NULL,
phone_number INTEGER UNIQUE NOT NULL,
address TEXT NOT NULL,
city_id TEXT NOT NULL,
postcode TEXT NOT NULL,
country_id TEXT NOT NULL,
FOREIGN KEY (city_id) REFERENCES city_table(city_id) ON DELETE
CASCADE
FOREIGN KEY (country_id) REFERENCES country_table(country_id) ON
DELETE CASCADE
);
''')

In [7]:
# Orders Table
cursor.execute('''
CREATE TABLE orders_table (
order_id TEXT PRIMARY KEY,
customer_id TEXT NOT NULL,
order_date DATE NOT NULL,
discount_id INTEGER,
amount REAL NOT NULL,
FOREIGN KEY (customer_id) REFERENCES customer_table(customer_id)
ON DELETE CASCADE,
FOREIGN KEY (discount_id) REFERENCES discount_table(discount_id)
ON DELETE CASCADE
);
''')

In [8]:
# Order Details Table
cursor.execute('''
CREATE TABLE order_details_table (
order_id TEXT,
product_id TEXT,
quantity INTEGER NOT NULL,
PRIMARY KEY (order_id, product_id),
FOREIGN KEY (order_id) REFERENCES orders_table(order_id) ON DELETE
CASCADE,
FOREIGN KEY (product_id) REFERENCES products_table(product_id) ON
DELETE CASCADE
);
''')

In [9]:
# Products Table
cursor.execute('''
CREATE TABLE products_table (
product_id TEXT PRIMARY KEY,
product_name TEXT NOT NULL,
selling_price REAL NOT NULL,
category_id TEXT NOT NULL,
cost_price REAL NOT NULL,
stock INTEGER NOT NULL,
FOREIGN KEY (category_id) REFERENCES category_table(category_id)
ON DELETE CASCADE
);
''')

In [10]:
# Product Review Table
cursor.execute('''
CREATE TABLE product_review_table (
review_id INTEGER PRIMARY KEY AUTOINCREMENT,
customer_id TEXT NOT NULL,
product_id TEXT NOT NULL,
rating INTEGER CHECK (rating BETWEEN 1 AND 5) NOT NULL,
date DATE NOT NULL,
FOREIGN KEY (customer_id) REFERENCES customer_table(customer_id)
ON DELETE CASCADE,
FOREIGN KEY (product_id) REFERENCES products_table(product_id) ON
DELETE CASCADE
);
''')

In [11]:
# Category Table
cursor.execute('''
CREATE TABLE category_table (
category_id TEXT PRIMARY KEY,
category_name TEXT UNIQUE NOT NULL
);
''')

In [12]:
# Website Activity Table
cursor.execute('''
CREATE TABLE website_activity_table (
activity_id TEXT PRIMARY KEY,
category_id TEXT NOT NULL,
date DATE NOT NULL,
time TIME NOT NULL,
customer_id TEXT NOT NULL,
time_spent REAL NOT NULL,
order_placed TEXT CHECK (order_placed IN ('Y', 'N')) NOT NULL,
FOREIGN KEY (customer_id) REFERENCES customer_table(customer_id)
ON DELETE CASCADE,
FOREIGN KEY (category_id) REFERENCES category_table(category_id)
ON DELETE CASCADE
);
''')

In [13]:
# Discount Table
cursor.execute('''
CREATE TABLE discount_table (
discount_id INTEGER PRIMARY KEY AUTOINCREMENT,
campaign_id INTEGER NOT NULL,
discount_type_id TEXT NOT NULL,
coupon_code TEXT UNIQUE NOT NULL,
FOREIGN KEY (discount_type_id) REFERENCES
discount_type_table(discount_type_id) ON DELETE CASCADE,
FOREIGN KEY (campaign_id) REFERENCES
campaign_engagement_table(campaign_id) ON DELETE CASCADE
);
''')

In [15]:
# Discount Type Table
cursor.execute('''
CREATE TABLE discount_type_table (
discount_type_id TEXT PRIMARY KEY,
type_of_discount TEXT UNIQUE NOT NULL
);
''')

In [16]:
# Campaign Type Table
cursor.execute('''
CREATE TABLE campaign_type_table (
campaign_type_id INTEGER PRIMARY KEY AUTOINCREMENT,
platform TEXT UNIQUE NOT NULL
);
''')

In [17]:
# Marketing Campaigns Table
cursor.execute('''
CREATE TABLE marketing_campaigns_table (
campaign_id INTEGER NOT NULL,
city_id TEXT NOT NULL,
campaign_type_id INTEGER NOT NULL,
start_date DATE NOT NULL,
end_date DATE NOT NULL,
cost REAL NOT NULL,
PRIMARY KEY (campaign_id, city_id),
FOREIGN KEY (campaign_type_id) REFERENCES
campaign_type_table(campaign_type_id) ON DELETE CASCADE,
FOREIGN KEY (city_id) REFERENCES city_table(city_id) ON DELETE
CASCADE
);
''')

In [18]:
# Campaign Engagement Table
cursor.execute('''
CREATE TABLE campaign_engagement_table (
campaign_id INTEGER PRIMARY KEY AUTOINCREMENT,
click_rate REAL NOT NULL,
reach INTEGER NOT NULL,
FOREIGN KEY (campaign_id) REFERENCES
marketing_campaigns_table(campaign_id) ON DELETE CASCADE
);
''')

In [19]:
# City Table
cursor.execute('''
CREATE TABLE city_table (
city_id TEXT PRIMARY KEY,
city TEXT UNIQUE NOT NULL,region_id TEXT NOT NULL,
FOREIGN KEY (region_id) REFERENCES region_table(region_id) ON
DELETE CASCADE
);
''')

In [20]:
# Region Table
cursor.execute('''
CREATE TABLE region_table (
region_id TEXT PRIMARY KEY,
region TEXT UNIQUE NOT NULL
);
''')

In [21]:
# Country Table
cursor.execute('''
CREATE TABLE country_table (
country_id TEXT PRIMARY KEY,
country TEXT UNIQUE NOT NULL
);
''')

In [22]:
# Save the changes to the database
conn.commit()
print("Database and tables created successfully!")

Database and tables created successfully!